/* CUSTOM PROPS */
:root {
  /* bgs */
  --sidebar-bg-color: #070707;
  --main-bg-color: #141922;
  --header-bg-color: #080b12;
  --player-bg-color: #282828;
  --accent-bg-color: #ccff31;
  /* text colors */
  --main-text-color: #a3a3a3;
  --alt-text-color: #eeeeee;
  /* width - height*/
  --sidebar-width: 50px;
  --player-height: 100px;
  --sd-logo-height: 50px;
}

/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--main-text-color);

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

a:visited {
  color: inherit;
}

li {
  list-style-type: none;
}

/* # UTILS */

/* .container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
} */

.wrapper {
  height: 100vg;
  width: 100vw;

  display: flex;

  overflow: hidden;
}

.ovf-auto {
  overflow: auto;
}

.d-none {
  display: none;
}

.f-upper {
  text-transform: uppercase;
}

/* HOVER UTILS */

.hover-alt:hover {
  color: var(--alt-text-color);
  cursor: pointer;
}

.hover-bigger:hover {
  transform: scale(1.1);
}

.cursor-p:hover {
  cursor: pointer;
}

.hover-bg:hover {
  background-color: var(--alt-text-color);
}

/* SIDEBAR */

.sidebar-col {
  width: var(--sidebar-width);
  height: calc(100vh - var(--player-height));

  background-color: var(--sidebar-bg-color);
}

/* SIDEBAR HEADER */

.logo-container {
  height: var(--sd-logo-height);
  padding: 8px;
}

/* SIDEBAR BODY */

.sidebar-body {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 10px;

  font-size: 0.8rem;
  line-height: 3rem;

  height: calc(100vh - var(--sd-logo-height) - var(--player-height));
}

.sd-nav-icon {
  color: var(--main-text-color);
  width: 30px;
  vertical-align: middle;
  margin-right: 5px;
}

.sidebar-main {
  flex-grow: 1;
}

/* SIDEBAR PLAYLISTS */

#playlist-title {
  color: var(--alt-text-color);
  font-weight: 700;
}

.playlist-new {
  font-size: 1rem;
}

.playlist-new-icon {
  height: 48px;
  width: 48px;
  text-align: center;
  line-height: 48px;
  background-color: #a3a3a3;
}

.fa-plus {
  font-size: 1.5rem;
  color: var(--sidebar-bg-color);
}

/* SIDEBAR BOTTOM */

.user-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;

  background-color: #808080;
  color: white;
}

#dl-icon {
  width: 15px;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 6px;
  display: inline-block;
}

/* MAIN */

.main-col {
  height: calc(100vh - var(--player-height));
  width: calc(100% - var(--sidebar-width));
}

.main-header {
  height: var(--player-height);

  background-color: var(--header-bg-color);
}

.main-body {
  height: calc(100vh - var(--player-height) - var(--player-height));

  background-color: var(--main-bg-color);
}

/* MAIN */

.main-header {
  text-align: end;
  padding: 30px 15px;
}

.header-button {
  color: var(--alt-text-color);
  background-color: var(--header-bg-color);
  border: 1px solid var(--alt-text-color);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 700;
}

/* MAIN NAV */

.main-nav {
  text-align: center;
  font-size: 0.8rem;
  line-height: 2rem;
  padding: 20px;
}

.main-nav-item {
  display: inline-block;
  padding: 10px;

  position: relative;
}

.main-nav-item:first-child::before {
  content: " ";
  position: absolute;

  height: 2px;
  width: 40px;
  background-color: var(--accent-bg-color);

  top: 43px;
  left: 32px;
}

/* CARD ROWS */

.row-title {
  color: var(--alt-text-color);
  font-size: 1.5rem;
  padding: 20px 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  max-width: 50%;
  min-width: 150px;
  padding: 10px;

  flex-shrink: 1;
  flex-grow: 1;

  /* border: 1px dashed rgb(255, 255, 255); */
}

.card-header {
  position: relative;
  /* border: 1px dashed rgb(255, 255, 255); */
}

.card-header img {
  display: block;
}

.card-body {
  /* border: 1px dashed rgb(255, 255, 255); */
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--alt-text-color);
  background: rgba(0, 0, 0, 0.6);
  font-size: min(calc(20px + 2vw), 60px);
  width: 100%;
  height: 100%;
  max-width: 300px;
}

.card-header:hover .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body {
  text-align: center;
}

.card-text-lg {
  font-weight: 700;
  color: var(--alt-text-color);
  padding: 10px;
}

.card-text-sm {
  font-size: 0.8rem;
  padding-bottom: 10px;
}

.row.odd .card .card-header img {
  border-radius: 50%;
}

.row.odd .card .card-header .overlay {
  border-radius: 50%;
}

/* PLAYER */

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  background-color: var(--player-bg-color);
  font-size: 0.8rem;

  height: 100px;
  width: 100vw;
}

.player-box {
  width: 30%;
  max-width: 400px;
}

.player-song-cover {
  width: 35px;
}

.player-song {
  display: flex;
  gap: 10px;
  align-items: center;
}

.player-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 200px;
  padding: 10px;
  margin: 0 auto;
  gap: 15px;
}

.player-buttons > .fa-circle-play {
  font-size: 1.5rem;
}

.time-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.volume-bar-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.player-song-cover {
  width: 40px;
  margin-right: 5px;
}

.player-user-actions {
  color: var(--main-text-color);
}

.player-user-actions > * {
  padding: 0 5px;
}

.player-song-title,
.time-bar-container {
  color: var(--main-text-color);
  font-size: 0.6rem;
}

.bar {
  height: 4px;
  width: 80px;
  border-radius: 5px;
  flex-grow: 1;
  background-color: gray;
}

.time.bar {
  min-width: 70px;
  max-width: 300px;
}

.volume.bar {
  min-width: 40px;
  max-width: 100px;
}

.time-bar-container,
.volume-bar-container {
  gap: 10px;
  padding: 0 10px;
}

.volume-bar-container:hover .bar > .progress,
.time-bar-container:hover .bar > .progress {
  width: 30%;
  height: 4px;
  border-radius: 5px;
  background-color: var(--accent-bg-color);
  position: relative;
}
.volume-bar-container:hover .bar > .progress::after,
.time-bar-container:hover .bar > .progress::after {
  content: " ";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: var(--alt-text-color);

  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

/* MEDIA QUERY */

/* LARGE MOBILE */

@media screen and (min-width: 639px) {
  :root {
    --sidebar-width: 250px;
  }

  /* UTILS */

  .s-d-inlineb {
    display: inline-block;
  }

  .s-d-inline {
    display: inline;
  }

  .s-d-block {
    display: block;
  }

  /* SIDEBAR */

  .sidebar-body {
    height: calc(100vh - var(--player-height) - var(--player-height));
    padding: 0;
  }

  .sidebar-main,
  .sidebar-bottom {
    padding: 10px;
  }

  .sidebar-nav-item {
    border-left: 3px solid transparent;
    padding: 7px;
  }

  .sidebar-nav-item:first-child {
    border-left: 3px solid var(--accent-bg-color);
  }

  .logo-container {
    height: var(--player-height);
    padding: 20px 60px 20px 10px;
  }

  .xs-logo {
    display: none;
  }

  /* PLAYER  */

  .player > .player-box:nth-child(2) {
    flex-grow: 1;
  }
}

/* TABLET */

@media screen and (min-width: 878px) {
  .card {
    max-width: calc(100% / 4);
  }
}

/* DESKTOP */

@media screen and (min-width: 1440px) {
  .row {
    flex-wrap: nowrap;
  }

  .card {
    max-width: 200px;
  }
}
